<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <title>Login</title>
    <link th:replace="~{fragments/bootstrap.html}">

    <style>
        html,
        body {
            height: 100%;
        }

        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }
    </style>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">

<main class="form-signin w-100 m-auto">

    <h1 class="h3 mb-3 fw-normal">Sign in</h1>

    <p th:if="${param.error}" class="text-danger-emphasis">Login failed</p>

    <form th:action="@{/login}" method="post">
        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mt-2">
            <input type="password" class="form-control" id="floatingPassword" placeholder="password" name="password">
            <label for="floatingPassword">Password</label>
        </div>

        <button class="btn btn-primary w-100 py-2 mt-4" type="submit">Sign in</button>
    </form>
</main>

</body>

</html>